body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}

.button_container {
    background: linear-gradient(45deg, #FFD700, #000);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button_navigation {
    background-color: #000;
    color: #FFD700;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.button_navigation:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 215, 0, 0.6);
}
